.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-skills {
  margin: 0 auto;
}
.about-skills-img img {
  width: 20vmax;
}
.about-skills-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (max-width: 920px) {
  .about-skills {
    margin: 0 auto;
  }
  .about-skills-img img {
    min-width: 20vw;
    margin: -2rem 0;
  }
  .about-skills-img {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    margin: -2rem 0;
    justify-items: center;
    padding: 0;
  }
}
